@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #1f2937;

  --card: #f9fafb;
  --card-foreground: #1f2937;

  --primary: #10b981; /* Emerald 500 */
  --primary-foreground: #ffffff;

  --primary-hover: #059669;
  --ring: #10b981;

  --secondary: #6b7280;
  --secondary-foreground: #ffffff;

  --accent: #a7f3d0; /* Emerald 200 */
  --accent-foreground: #065f46;

  --muted: #f3f4f6;
  --muted-foreground: #6b7280;

  --border: #e5e7eb;
  --input: #e5e7eb;

  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
}
